html{
  font-size: 16px !important;
}

body{
  background: #f1f6fb !important;
  color: #0047a4 !important;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", HelveticaNeue, YuGothic, "Yu Gothic Medium", "Yu Gothic", Verdana, Meiryo, sans-serif !important;
}

.contentBlock{
  background-color: #ffffff;
  border-radius: 0.25rem;
}

.contentBlockTitle{
  display: inline-block;
  height:3.5vh;
  line-height: 3.5vh;
  background-color: #c6e0f7;
  padding: 0 1rem;
  font-size: 1rem;
  font-weight: bold;
}

.optionalTag{
  display: inline-block;
  color: #FFFFFF;
  background-color: #AAAAAA;
  line-height: 1rem;
  font-size: 0.8em;
  font-weight: initial;
  padding: 0.2rem 1rem;
  margin-left: 1rem;
  border-radius: 10px;
}

.requiredTag{
  display: inline-block;
  color: #FFFFFF;
  background-color: #FF008C;
  line-height: 1rem;
  font-size: 0.8em;
  font-weight: initial;
  padding: 0.2rem 1rem;
  margin-left: 1rem;
  border-radius: 10px;
}